h1 {
    background-color: aquamarine;
    text-align: center;
}

.div-one {
    background-color: orangered;
    padding: 10px;
    margin: 10px;
}

.div-two {
    background-color: teal;
    padding: 15px;
    margin: 10px;
    color: white;
}